<h1>websearch project</h1>

<h2>technology stack</h2>

<ul>
<li><strong>java version</strong>: 1.8+</li>
<li><strong>build tool</strong>: apache maven</li>
<li><strong>framework</strong>: spring</li>
<li><strong>http listener</strong>: renetty (<a href="https://github.com/nimabt/renetty">renetty</a> is a small project of mine which simplifies the usage of the "Netty" project with providing a set of handy annotations)</li>
</ul>

<h3>how to compile</h3>

<p><code>$ mvn clean install -P[maven profile]</code></p>

<h3>maven profiles</h3>

<ul>
<li><strong>development</strong>: development profile<em>(active-by default)</em></li>
<li><strong>live</strong>: live profile</li>
</ul>

<h2>how to build</h2>

<p>after the compilation process, please run the deploy.sh file inorder to get the binary project.
also, there's init.d scripts in the etc/init.d folder to help running the project as *nix daemon</p>

<p><code>$ bash deploy.sh</code></p>

<p>the default directory for the binary output is: <em>/tmp/websearch-$PROJECT_VERSION</em> (<em>/tmp/websearch-0.1.0</em>)</p>

<p>after that, create log dir with the help of following command:</p>

<p><code>$ mkdir /var/log/websearch</code></p>

<h2>how to run</h2>

<ul>
<li><strong>compile</strong>: compile the project</li>
<li><strong>build</strong>: build the binary project</li>
<li><strong>run</strong>: go to <code>$PROJECT_BUILD_HOME/websearch-service/bin</code> and execute the following command:
<code>$ bash websearch-service.sh</code></li>
</ul>

<p>the project will listen to http requests on <strong>port: 5000</strong></p>

<h2>api info</h2>

<h3>search api</h3>

<h4>request</h4>

<ul>
<li><strong>address</strong> : /api/search?keyword=SEARCH_KEY</li>
<li><strong>method</strong> : GET</li>
</ul>

<h4>response</h4>

<ul>
<li><strong>response-type</strong>: application/json</li>
<li><strong>data structure</strong>: SearchResponse</li>
</ul>

<p><em>entity: SearchResponse</em></p>

<ul>
<li><strong>status</strong> (int) : <em>result status: 0 represents ok, otherwise there's a error- check response values</em></li>
<li><strong>results</strong> (SearchResult[])
<ul>
<li><strong>title</strong> (String)</li>
<li><strong>searchType</strong> (enum:ALBUM,BOOK) : <em>determines whether it's a book or an album</em></li>
<li><strong>authors</strong> (String)</li>
</ul></li>
</ul>

<h4>sample</h4>

<p><code>
http://PROJECT_HOST:5000/api/search?keyword=pink+floyd
</code></p>

<p><code>
{
    "results":[{"title":"Another Brick In the Wall, Pt. 2","type":"ALBUM","authors":"Pink Floyd"},{"title":"Comfortably Numb","type":"ALBUM","authors":"Pink Floyd"},{"title":"Echoes","type":"BOOK","authors":"Glenn Povey"},{"title":"Guitar World Presents Pink Floyd","type":"BOOK","authors":"Alan Di PernaJeff KittsBrad Tolinski"},{"title":"Hey You","type":"ALBUM","authors":"Pink Floyd"},{"title":"Mind Over Matter","type":"BOOK","authors":"Peter Curzon"},{"title":"Money","type":"ALBUM","authors":"Pink Floyd"},{"title":"Pink Floyd and Philosophy","type":"BOOK","authors":"George A. Reisch"},{"title":"Pink Floyd: The Music and the Mystery","type":"BOOK","authors":"Andy Mabbett"},{"title":"Wish You Were Here","type":"ALBUM","authors":"Pink Floyd"}],
    "status":0
}
</code></p>

<h3>service status api</h3>

<h4>request</h4>

<ul>
<li><strong>address</strong> : /api/service-status</li>
<li><strong>method</strong> : GET</li>
</ul>

<h4>response</h4>

<ul>
<li><strong>response-type</strong> : application/json</li>
<li><strong>data structure</strong> : ServiceStatusResponse</li>
</ul>

<p><em>entity: ServiceStatusResponse</em></p>

<ul>
<li><strong>status</strong> (int) : <em>result status: 0 represents ok, otherwise there's a error- check response values</em></li>
<li><strong>serviceStatus</strong> (ServiceStatus)
<ul>
<li><strong>uptime</strong> (long) : <em>service uptime in unix timestamp (milliseconds)</em></li>
<li><strong>totalRequests</strong> (long) : <em>the count of total requests received</em></li>
<li><strong>successRequests</strong> (long) : <em>the count of succeeded requests (requests with status:0)</em></li>
<li><strong>averageResponseTime</strong> (long) : <em>the response average time of the latest 10 api calls of the system</em></li>
<li><strong>averageAlbumApiCallTime</strong> (long) : <em>the response average time of the latest 10 api calls for itunes-album-search api</em></li>
<li><strong>averageBookApiCallTime</strong> (long) : <em>the response average time of the latest 10 api calls for google-book-search api</em></li>
<li><strong>failedAlbumApiCalls</strong> (long) : <em>the count of the failed 'itunes album' upstream api calls</em></li>
<li><strong>failedBookApiCalls</strong> (long) : <em>the count of the failed 'google book' upstream api calls</em></li>
</ul></li>
</ul>

<h5>sample</h5>

<p><code>
http://PROJECT_HOST:5000/api/service-status
</code></p>

<p><code>
{
    "serviceStatus":{"uptime":73420,"totalRequests":5,"successRequests":5,"averageResponseTime":1346,"averageAlbumApiCallTime":736,"averageBookApiCallTime":1137,"failedAlbumApiCalls":0,"failedBookApiCalls":0}
    ,"status":0
}
</code></p>

<h2>response code values</h2>

<ul>
<li><strong>0</strong>   : <em>ok</em></li>
<li><strong>-1001</strong> : <em>ERR: empty search keyword</em></li>
<li><strong>-2001</strong> : <em>ERR: failed to call upstream services</em> </li>
<li><strong>-9001</strong> : <em>ERR: internal error, please contact the support team</em></li>
</ul>
